<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="error email"></div>
  <label for="paassword">Password</label>
  <input type="password" name="password" required />
  <div class="password email"></div>
  <button>Sign Up</button>
</form>

<%- include('partials/footer'); -%>
